
$garden: #1a9283;
$rich: #424791;
$gold: #daba30;
$gold2: #dfa40a;
$wall: #ECECEC;
$underline: #D4D4D4;
$void: #24292e;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    background-color: $wall;

    // JS inserted class
    .exp-focus:focus  {
        border: 1px solid $rich !important;
    }       
      // Summary Part of the App


    .display {

        min-height: 48vh;
        background-image: url("img/cash.png");
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;

       

        @media only screen and(max-width: 580px) {
            background-image: url("img/cash.png");
            background-position: right;
            margin-top: 1px;
        }

        .budget {
            
            
            
            color: #fff;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
           
            
            @media only screen and(max-width: 1235px) {
                min-width: 85vw;
                flex-direction: column;
                align-items: center;
            }

            

            @media only screen and(max-width: 580px) {
                min-width: 85vw;
            
            }

            &__title {
                font-size: 18px;
                text-align: center;
                margin-bottom: 10px;
                font-weight: 600;
                padding: 8px;
                margin-bottom: 10px;
                width: 250px;
                color: $void;
                margin-right: 40px;

                

                .deco {
                    color: $gold;
                    font-size: 23px;
                   
                   

                }
                @media only screen and(max-width: 1235px) {
                    margin-right: 0px;
                }

                @media only screen and(max-width: 580px) {
                    
                    min-width: 85vw;
                    font-size: 22px;
                    margin-bottom: 25px;
                    margin-top: 20px;
                   
                }
            }

            &__value {
                font-weight: 300;
                font-size: 20px;
                text-align: center;
                margin-bottom: 6rem;
                letter-spacing: 2px;
                padding: 5px;
                min-width: 250px;
                height: 80px;
                margin-bottom: 10px;
                background-color: $wall;
                border-radius: 5px;
                color: $void;
                box-shadow: -5px 6px 6px -1px rgba(0,0,0,0.15);
                max-width: 80vw;
                overflow: auto;
                border: 1px solid $underline;
                margin-right: 10px;
                text-align: center;
                line-height: 50px;

                @media only screen and(max-width: 1235px) {
                    margin-right: 0px;
                }

                @media only screen and(max-width: 580px) {
                    font-size: 18px;
                    min-width: 85vw;
                }
            }

            &__income {
                padding: 5px;
                margin-bottom: 10px;
                background-color: $wall;
                text-align: center;
                min-width: 250px;
                border-radius: 5px;
                box-shadow: -5px 6px 6px -1px rgba(0,0,0,0.15);
                max-width: 80vw;
                overflow: auto;
                color: $garden;
                border: 1px solid $underline;
                margin-right: 10px;
                height: 80px;
                

                &--text {
                    font-weight: 600;
                }

                @media only screen and(max-width: 1235px) {
                    margin-right: 0px;
                }

                @media only screen and(max-width: 580px) {
                    font-size: 16px;
                    min-width: 85vw;
                    margin-bottom: 10px;
            
                }
            }

            &__expenses {
                background-color: $wall;
                padding: 5px;
                text-align: center;
                border-radius: 5px;
                min-width: 250px;
                box-shadow: -5px 6px 6px -1px rgba(0,0,0,0.15);
                border: 1px solid $underline;
                overflow: auto;
                color: $rich;
                height: 80px;
               

                &--text {
                    font-weight: 600;
                }

                @media only screen and(max-width: 1235px) {
                    margin-right: 0px;
                }

                @media only screen and(max-width: 580px) {
                    font-size: 16px;
                    width: 85vw;
            
                }
            }
        }
    }

    // Bottom part of the App

    .fields {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        

        .add {

            padding: 14px;
            position: relative;
            border: 2px solid $underline;
            box-shadow: -5px 6px 6px -1px rgba(0,0,0,0.15);
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 66vw;
           
            

            @media only screen and(max-width: 950px) {
                width: 85vw;
                flex-direction: column;
                justify-content: center;
                
            }


            
              
           


            &__type {

                
                border: 1px solid #e7e7e7;
                padding: 12px 15px;
                
                color: inherit;
                background-color: #fff;
                margin-right: 10px;
                font-weight: 300;
                transition: border 0.3s;
                @media only screen and(max-width: 950px) {
                    margin-right: none;
                    
                    
                }

                @media only screen and(max-width: 580px) {
            
            
                }

                
            }

            &__description, &__value {

                border: 1px solid #e7e7e7;
                background-color: #fff;
                color: inherit;
                font-family: inherit;
                font-size: 14px;
                padding: 12px 15px;
                margin-right: 10px;
                border-radius: 5px;
                transition: border 0.3s;
                @media only screen and(max-width: 950px) {
                    margin-right: none;
                    
                    
                }

                @media only screen and(max-width: 580px) {
            
            
                }
            }

            &__button {

                font-size: 35px;
                background: none;
                border: none;
                color: $gold;
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                line-height: 1.1;
                margin-left: 10px;
                

                @media only screen and(max-width: 950px) {
                    margin-left: 0px;
                    margin-top: 1rem;
                    
                }

                &:active { transform: translateY(2px); }
                &:hover {
                    color: $gold2;
                   
                
                }
            }

            &__type:focus,
            &__description:focus,
            &__value:focus {
                outline: none;
                border: 1px solid $garden;
            }

            &__button:focus { outline: none; }
        }

        //Expenses / Income

        .container {

            width: 85vw;
            margin: 30px auto;
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 2rem 0 2rem;

            @media only screen and(max-width: 1235px) {
                
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            @media only screen and(max-width: 580px) {
               
            
            }


            .income {
                
               
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
               
               

                

                &__title {
                    color: $garden;
                    margin-bottom: 20px;
                   

                }
                & .item__value,
                & .item__delete--btn {
                    color: $garden;
                }

            }

            .expenses {
                
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                

                

                &__title {
                    color: $rich;
                    margin-bottom: 20px;

                    @media only screen and(max-width: 1235px) {
                        margin-top: 20px;
                
                    }
                   
                    
                }

                & .item__value,
                & .item__percentage,
                & .item__delete--btn {
                    color: $rich;
                }

            }

            .item {
                padding: 12px;
                border-bottom: 1px solid $underline;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
                width: 30rem;
                margin-bottom: 6px;
                margin-top: 6px;
                min-height: 4rem;

                @media only screen and(max-width: 580px) {
                width: 85vw;
            
                }

                &:hover {
                    box-shadow: -5px 6px 6px -1px rgba(0,0,0,0.15);
                }


                &:first-child { border-top: 1px solid $underline; }
               

                &__description {
                    min-width: 5rem;
                    max-width: 9rem;
                    margin-right: 2rem;
                    color: $void;
                    overflow: auto;
                    font-weight: 400;

                    @media only screen and(max-width: 950px) {
                        width: 120px; 
                        font-size: 0.9rem;
                           
                           
                    }
                }

                &__value {

                    transition: transform 0.3s;
                    
                    height: auto;
                    width: 120px; 
                    overflow: auto;
                    @media only screen and(max-width: 950px) {
                     
                     font-size: 0.8rem;
                        
                        
                    }
                }

                &__percentage {

                    margin-left: 20px;
                    transition: transform 0.3s;
                    font-size: 11px;
                    background-color: $gold;
                    padding: 3px;
                    border-radius: 3px;
                    width: 32px;
                    text-align: center;

                    @media only screen and(max-width: 950px) {
                       display: none;
                        
                        
                    }
                }

                &__delete--btn {
                    font-size: 28px;
                    background: none;
                    border: none;
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 1;
                    display: none;

                    &:hover {
                        color: $gold2;
                    }

                    @media only screen and(max-width: 950px) {
                        display: block;
                        margin-left: 10px;
                        
                    }

                    &:focus { outline: none; }
                    &:active { transform: translateY(2px); }
                }

                &:hover .item__delete--btn { display: block; }
                &:hover .item__value { transform: translateX(-20px); }
                &:hover .item__percentage { transform: translateX(-20px); }
            }

        }
    }
    .footer {
        font-size: 13px;
        color: $void;
        padding: 5px;
        text-align: center;
        margin-top:14%;
        &__link {
            text-decoration: none;

            &:focus, &:active {
                text-decoration: none;
            }
            &:visited {
                color: $gold2;
            }
        }
    }
}