$safe: #6acad3;
$garden: #1a9283;
$rich: #424791;
$gold: #daba30;
$calm: #16a09d;
$wall: #f6f8fa;
$sea: #28B9B5;
$underline: #e7e7e7;
$void: #0B0C10;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    background-color: $wall;
    
    
   

    // Summary Part of the App


    .display {

        min-height: 48vh;
        background-image: url("img/finance.png");
        background-repeat: no-repeat;
        background-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 12px;

        @media only screen and(max-width: 710px) {
            background-image: url("img/finance.medium.png");
            
        }

        @media only screen and(max-width: 580px) {
            background-image: url("img/finance.small.png");
            background-position: bottom;
        }

        .budget {
            
            min-width: 350px;
            
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media only screen and(max-width: 580px) {
                min-width: 200px;
            
            }

            &__title {
                font-size: 18px;
                text-align: center;
                margin-bottom: 10px;
                font-weight: 600;
                padding: 8px;
                margin-bottom: 10px;
                
                background-color: $wall;
                border-radius: 5px;
                color: $void;
                border: 1px solid $void;

                @media only screen and(max-width: 580px) {
                    font-size: 13px;
            
                }
            }

            &__value {
                font-weight: 300;
                font-size: 20px;
                text-align: center;
                margin-bottom: 6rem;
                letter-spacing: 2px;
                padding: 5px;
                min-width: 15rem;
                margin-bottom: 10px;
                background-color: $wall;
                border-radius: 5px;
                color: $void;
                border: 1px solid $void;
                max-width: 80vw;
                overflow: auto;

                @media only screen and(max-width: 580px) {
                    font-size: 13px;
                    min-width: 200px;
                }
            }

            &__income {
                padding: 5px;
                margin-bottom: 10px;
                background-color: $wall;
                text-align: center;
                min-width: 13rem;
                border-radius: 5px;
                border: 1px solid $void;
                max-width: 80vw;
                overflow: auto;
                color: $garden;
                

                &--text {
                    font-weight: 600;
                }

                @media only screen and(max-width: 580px) {
                    font-size: 13px;
                    min-width: 200px;
                    margin-bottom: 10px;
            
                }
            }

            &__expenses {
                background-color: $wall;
                padding: 5px;
                text-align: center;
                border-radius: 5px;
                min-width: 13rem;
                border: 1px solid $void;
                max-width: 80vw;
                overflow: auto;
                color: $rich;

                &--text {
                    font-weight: 600;
                }

                @media only screen and(max-width: 580px) {
                    font-size: 13px;
                    min-width: 200px;
            
                }
            }
        }
    }

    // Bottom part of the App

    .fields {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url();

        .add {

            padding: 14px;
            border-bottom: 1px solid #e7e7e7;
            background-color: $calm;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 50rem;

            @media only screen and(max-width: 950px) {
                width: 85vw;
                flex-direction: column;
                justify-content: center;
                
            }
           


            &__type {

                
                border: 1px solid #e7e7e7;
                padding: 12px 15px;
                
                color: inherit;
                background-color: #fff;
                margin-right: 10px;
                font-weight: 300;
                transition: border 0.3s;
                @media only screen and(max-width: 950px) {
                    margin-right: none;
                    
                    
                }

                @media only screen and(max-width: 580px) {
            
            
                }

                
            }

            &__description, &__value {

                border: 1px solid #e7e7e7;
                background-color: #fff;
                color: inherit;
                font-family: inherit;
                font-size: 14px;
                padding: 12px 15px;
                margin-right: 10px;
                border-radius: 5px;
                transition: border 0.3s;
                @media only screen and(max-width: 950px) {
                    margin-right: none;
                    
                    
                }

                @media only screen and(max-width: 580px) {
            
            
                }
            }

            &__button {

                font-size: 35px;
                background: none;
                border: none;
                color: $gold;
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                line-height: 1.1;
                margin-left: 10px;

                @media only screen and(max-width: 950px) {
                    margin-left: 0px;
                    margin-top: 1rem;
                    
                }

                &:active { transform: translateY(2px); }
            }

            &__type:focus,
            &__description:focus,
            &__value:focus {
                outline: none;
                border: 1px solid $void;
            }

            &__button:focus { outline: none; }
        }

        //Expenses / Income

        .container {

            width: 85vw;
            margin: 30px auto;
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 2rem 0 2rem;

            @media only screen and(max-width: 1235px) {
                
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            @media only screen and(max-width: 580px) {
               
            
            }


            .income {
                
               
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
               
               

                

                &__title {
                    color: $garden;
                   

                }
                & .item__value,
                & .item__delete--btn {
                    color: $garden;
                }

            }

            .expenses {
                
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                

                @media only screen and(max-width: 580px) {
                   
                
                }

                &__title {
                    color: $rich;
                   
                    
                }

                & .item__value,
                & .item__percentage,
                & .item__delete--btn {
                    color: $rich;
                }

            }

            .item {
                padding: 12px;
                border-bottom: 1px solid $void;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                
                width: 30rem;
                margin-bottom: 6px;
                margin-top: 6px;
                min-height: 4rem;

                @media only screen and(max-width: 580px) {
                width: 85vw;
            
                }


                &:first-child { border-top: 1px solid $void; }
               

                &__description {
                    min-width: 5rem;
                    max-width: 9rem;
                    margin-right: 2rem;
                    color: $void;
                    overflow: auto;
                    font-weight: 400;

                    @media only screen and(max-width: 950px) {
                        width: 120px; 
                        font-size: 0.9rem;
                           
                           
                    }
                }

                &__value {

                    transition: transform 0.3s;
                    
                    height: auto;
                    
                    overflow: auto;
                    @media only screen and(max-width: 950px) {
                     width: 120px; 
                     font-size: 0.8rem;
                        
                        
                    }
                }

                &__percentage {

                    margin-left: 20px;
                    transition: transform 0.3s;
                    font-size: 11px;
                    background-color: #FFDAD9;
                    padding: 3px;
                    border-radius: 3px;
                    width: 32px;
                    text-align: center;

                    @media only screen and(max-width: 950px) {
                       display: none;
                        
                        
                    }
                }

                &__delete--btn {
                    font-size: 28px;
                    background: none;
                    border: none;
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 1;
                    display: none;

                    @media only screen and(max-width: 950px) {
                        display: block;
                        margin-left: 10px;
                        
                    }

                    &:focus { outline: none; }
                    &:active { transform: translateY(2px); }
                }

                &:hover .item__delete--btn { display: block; }
                &:hover .item__value { transform: translateX(-20px); }
                &:hover .item__percentage { transform: translateX(-20px); }
            }

        }
    }
}