* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  background-color: #ECECEC; }
  body .exp-focus:focus {
    border: 1px solid #424791 !important; }
  body .display {
    min-height: 48vh;
    background-image: url("img/cash.png");
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px; }
    @media only screen and (max-width: 580px) {
      body .display {
        background-image: url("img/cash.png");
        background-position: right;
        margin-top: 1px; } }
    body .display .budget {
      color: #fff;
      display: flex;
      flex-direction: row;
      align-items: flex-start; }
      @media only screen and (max-width: 1235px) {
        body .display .budget {
          min-width: 85vw;
          flex-direction: column;
          align-items: center; } }
      @media only screen and (max-width: 580px) {
        body .display .budget {
          min-width: 85vw; } }
      body .display .budget__title {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 600;
        padding: 8px;
        margin-bottom: 10px;
        width: 250px;
        color: #24292e;
        margin-right: 40px; }
        body .display .budget__title .deco {
          color: #daba30;
          font-size: 23px; }
        @media only screen and (max-width: 1235px) {
          body .display .budget__title {
            margin-right: 0px; } }
        @media only screen and (max-width: 580px) {
          body .display .budget__title {
            min-width: 85vw;
            font-size: 22px;
            margin-bottom: 25px;
            margin-top: 20px; } }
      body .display .budget__value {
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        margin-bottom: 6rem;
        letter-spacing: 2px;
        padding: 5px;
        min-width: 250px;
        height: 80px;
        margin-bottom: 10px;
        background-color: #ECECEC;
        border-radius: 5px;
        color: #24292e;
        box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15);
        max-width: 80vw;
        overflow: auto;
        border: 1px solid #D4D4D4;
        margin-right: 10px;
        text-align: center;
        line-height: 50px; }
        @media only screen and (max-width: 1235px) {
          body .display .budget__value {
            margin-right: 0px; } }
        @media only screen and (max-width: 580px) {
          body .display .budget__value {
            font-size: 18px;
            min-width: 85vw; } }
      body .display .budget__income {
        padding: 5px;
        margin-bottom: 10px;
        background-color: #ECECEC;
        text-align: center;
        min-width: 250px;
        border-radius: 5px;
        box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15);
        max-width: 80vw;
        overflow: auto;
        color: #1a9283;
        border: 1px solid #D4D4D4;
        margin-right: 10px;
        height: 80px; }
        body .display .budget__income--text {
          font-weight: 600; }
        @media only screen and (max-width: 1235px) {
          body .display .budget__income {
            margin-right: 0px; } }
        @media only screen and (max-width: 580px) {
          body .display .budget__income {
            font-size: 16px;
            min-width: 85vw;
            margin-bottom: 10px; } }
      body .display .budget__expenses {
        background-color: #ECECEC;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        min-width: 250px;
        box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15);
        border: 1px solid #D4D4D4;
        overflow: auto;
        color: #424791;
        height: 80px; }
        body .display .budget__expenses--text {
          font-weight: 600; }
        @media only screen and (max-width: 1235px) {
          body .display .budget__expenses {
            margin-right: 0px; } }
        @media only screen and (max-width: 580px) {
          body .display .budget__expenses {
            font-size: 16px;
            width: 85vw; } }
  body .fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    body .fields .add {
      padding: 14px;
      position: relative;
      border: 2px solid #D4D4D4;
      box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 66vw; }
      @media only screen and (max-width: 950px) {
        body .fields .add {
          width: 85vw;
          flex-direction: column;
          justify-content: center; } }
      body .fields .add__type {
        border: 1px solid #e7e7e7;
        padding: 12px 15px;
        color: inherit;
        background-color: #fff;
        margin-right: 10px;
        font-weight: 300;
        transition: border 0.3s; }
        @media only screen and (max-width: 950px) {
          body .fields .add__type {
            margin-right: none; } }
      body .fields .add__description, body .fields .add__value {
        border: 1px solid #e7e7e7;
        background-color: #fff;
        color: inherit;
        font-family: inherit;
        font-size: 14px;
        padding: 12px 15px;
        margin-right: 10px;
        border-radius: 5px;
        transition: border 0.3s; }
        @media only screen and (max-width: 950px) {
          body .fields .add__description, body .fields .add__value {
            margin-right: none; } }
      body .fields .add__button {
        font-size: 35px;
        background: none;
        border: none;
        color: #daba30;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        line-height: 1.1;
        margin-left: 10px; }
        @media only screen and (max-width: 950px) {
          body .fields .add__button {
            margin-left: 0px;
            margin-top: 1rem; } }
        body .fields .add__button:active {
          transform: translateY(2px); }
        body .fields .add__button:hover {
          color: #dfa40a; }
      body .fields .add__type:focus, body .fields .add__description:focus, body .fields .add__value:focus {
        outline: none;
        border: 1px solid #1a9283; }
      body .fields .add__button:focus {
        outline: none; }
    body .fields .container {
      width: 85vw;
      margin: 30px auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 2rem 0 2rem; }
      @media only screen and (max-width: 1235px) {
        body .fields .container {
          flex-direction: column;
          justify-content: center;
          align-items: center; } }
      body .fields .container .income {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        body .fields .container .income__title {
          color: #1a9283;
          margin-bottom: 20px; }
        body .fields .container .income .item__value, body .fields .container .income .item__delete--btn {
          color: #1a9283; }
      body .fields .container .expenses {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        body .fields .container .expenses__title {
          color: #424791;
          margin-bottom: 20px; }
          @media only screen and (max-width: 1235px) {
            body .fields .container .expenses__title {
              margin-top: 20px; } }
        body .fields .container .expenses .item__value, body .fields .container .expenses .item__percentage, body .fields .container .expenses .item__delete--btn {
          color: #424791; }
      body .fields .container .item {
        padding: 12px;
        border-bottom: 1px solid #D4D4D4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 30rem;
        margin-bottom: 6px;
        margin-top: 6px;
        min-height: 4rem; }
        @media only screen and (max-width: 580px) {
          body .fields .container .item {
            width: 85vw; } }
        body .fields .container .item:hover {
          box-shadow: -5px 6px 6px -1px rgba(0, 0, 0, 0.15); }
        body .fields .container .item:first-child {
          border-top: 1px solid #D4D4D4; }
        body .fields .container .item__description {
          min-width: 5rem;
          max-width: 9rem;
          margin-right: 2rem;
          color: #24292e;
          overflow: auto;
          font-weight: 400; }
          @media only screen and (max-width: 950px) {
            body .fields .container .item__description {
              width: 120px;
              font-size: 0.9rem; } }
        body .fields .container .item__value {
          transition: transform 0.3s;
          height: auto;
          width: 120px;
          overflow: auto; }
          @media only screen and (max-width: 950px) {
            body .fields .container .item__value {
              font-size: 0.8rem; } }
        body .fields .container .item__percentage {
          margin-left: 20px;
          transition: transform 0.3s;
          font-size: 11px;
          background-color: #daba30;
          padding: 3px;
          border-radius: 3px;
          width: 32px;
          text-align: center; }
          @media only screen and (max-width: 950px) {
            body .fields .container .item__percentage {
              display: none; } }
        body .fields .container .item__delete--btn {
          font-size: 28px;
          background: none;
          border: none;
          cursor: pointer;
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
          display: none; }
          body .fields .container .item__delete--btn:hover {
            color: #dfa40a; }
          @media only screen and (max-width: 950px) {
            body .fields .container .item__delete--btn {
              display: block;
              margin-left: 10px; } }
          body .fields .container .item__delete--btn:focus {
            outline: none; }
          body .fields .container .item__delete--btn:active {
            transform: translateY(2px); }
        body .fields .container .item:hover .item__delete--btn {
          display: block; }
        body .fields .container .item:hover .item__value {
          transform: translateX(-20px); }
        body .fields .container .item:hover .item__percentage {
          transform: translateX(-20px); }
  body .footer {
    font-size: 13px;
    color: #24292e;
    padding: 5px;
    text-align: center;
    margin-top: 14%; }
    body .footer__link {
      text-decoration: none; }
      body .footer__link:focus, body .footer__link:active {
        text-decoration: none; }
      body .footer__link:visited {
        color: #dfa40a; }

/*# sourceMappingURL=style.css.map */
